* {
	/*outline: 1px solid red;*/
	z-index: 2;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #14080B;
	overflow: hidden;
}
/*
canvas {
	position: absolute;
}
*/

#canvas-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#window-top {
	position: relative;
	width: 100%;
	height: 50%;
	margin: 0 auto;
	background-image: url("img/menu_window_texture.png");
	background-color: #B3B0A2;
	background:     
		linear-gradient(
      rgba(179, 176, 162, 0.80), 
      rgba(179, 176, 162, 0.80)
    ),
		url("img/menu_window_texture.png");
	bottom: 0px;
}

#window-bottom {
	position: relative;
	width: 100%;
	height: 50%;
	margin: 0 auto;
	background-image: url("img/menu_window_texture.png");
	background-color: #657252;
	background:     
		linear-gradient(
      rgba(101, 114, 82, 0.80), 
      rgba(101, 114, 82, 0.80)
    ),
		url("img/menu_window_texture.png");
}

nav {
	position: absolute;
	bottom: 0;
	width: 100%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	width: 200px;
	height: 30px;
	margin: 10px auto 0px auto;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #020001;
}

nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #14080B;
	text-decoration: none;
}

nav ul li a:hover {
	color: #545249;
}

#dropdown {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

#dropdown-tab {
	display: none;
	width: 200px;
	height: 100%;
	margin: 0px auto 0px auto;
	padding-bottom: 10px;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-align: center;
	color: #020001;
	background-color: #B3B0A2;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#dropdown-tab a {
	display: block;
	width: 100%;
	height: 100%;
	color: #14080B;
	text-decoration: none;
}

#dropdown-tab a:hover {
	color: #545249;
}