* {
	position: relative;
	outline: 1px solid red;
	z-index: 2;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #14080B;
	overflow: hidden;
}

canvas {
	position: absolute;
	background-color: #FE7D0F;
}

#canvas-container {
	/*overflow: hidden;*/
	position: absolute;
	width: 960px;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#window-top {
	position: relative;
	width: 960px;
	height: 50%;
	margin: 0 auto;
	background-image: url("img/menu_window_texture.png");
	background-color: #B3B0A2;
	background:     
		linear-gradient(
      rgba(179, 176, 162, 0.80), 
      rgba(179, 176, 162, 0.80)
    ),
		url("img/menu_window_texture.png");
	bottom: 0px;
}

#window-bottom {
	width: 960px;
	height: 50%;
	margin: 0 auto;
	background-image: url("img/menu_window_texture.png");
	background-color: #657252;
	background:     
		linear-gradient(
      rgba(101, 114, 82, 0.80), 
      rgba(101, 114, 82, 0.80)
    ),
		url("img/menu_window_texture.png");
}

#nav-group-top {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.nav {
	width: 200px;
	height: 30px;
	margin: 20px auto 10px auto;
	color: #020001;
}

.nav-clickable {
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

.nav-clickable a {
	display: block;
	width: 100%;
	height: 100%;
	color: #14080B;
	text-decoration: none;
}

.nav-clickable a:hover {
	color: #545249;
}